In [21]:
import pandas as pd

In [2]:
# Importando dados imdb
imdb = pd.read_html('https://www.imdb.com/chart/top/?ref_=nv_mv_250')
type(imdb)

list

In [3]:
# Verificando quantos itens consta na lista
len(imdb)

1

In [4]:
# Definindo um dataset de melhores filmes do IMDB
best_imdb = imdb[0]
best_imdb

,Unnamed: 0,Rank & Title,IMDb Rating,Your Rating,Unnamed: 4
0,NaN,1. Um Sonho de Liberdade (1994),9.2,12345678910 NOT YET RELEASED Seen,NaN
1,NaN,2. O Poderoso Chefão (1972),9.1,12345678910 NOT YET RELEASED Seen,NaN
2,NaN,3. O Poderoso Chefão II (1974),9.0,12345678910 NOT YET RELEASED Seen,NaN
3,NaN,4. Batman: O Cavaleiro das Trevas (2008),9.0,12345678910 NOT YET RELEASED Seen,NaN
4,NaN,5. 12 Homens e uma Sentença (1957),8.9,12345678910 NOT YET RELEASED Seen,NaN
...,...,...,...,...,...
245,NaN,246. Um Contratempo (2016),8.0,12345678910 NOT YET RELEASED Seen,NaN
246,NaN,247. Aladdin (1992),8.0,12345678910 NOT YET RELEASED Seen,NaN
247,NaN,248. O Castelo no Céu (1986),8.0,12345678910 NOT YET RELEASED Seen,NaN
248,NaN,249. A Canção do Oceano (2014),8.0,12345678910 NOT YET RELEASED Seen,NaN
249,NaN,"250. Swades: We, the People (2004)",8.0,12345678910 NOT YET RELEASED Seen,NaN

In [5]:
best_imdb['Rank & Title'][0][4]

'U'

In [6]:
rating = best_imdb['Your Rating']
rating.drop_duplicates()

0    12345678910 NOT YET RELEASED  Seen
Name: Your Rating, dtype: object

In [7]:
# Analogamente para o Tomatoes
tomatoes = pd.read_html('https://www.rottentomatoes.com/top/bestofrt/')
len(tomatoes)

5

In [8]:
# Procurando o item da lista que corresponde aos melhores filmes da página web ...
best_tomatoes = tomatoes[2]
best_tomatoes

,Rank,RatingTomatometer,Title,No. of Reviews
0,1.0,97%,Black Panther (2018),493
1,2.0,94%,Avengers: Endgame (2019),504
2,3.0,93%,Us (2019),512
3,4.0,97%,Toy Story 4 (2019),425
4,5.0,97%,Mission: Impossible - Fallout (2018),415
...,...,...,...,...
95,96.0,100%,12 Angry Men (Twelve Angry Men) (1957),52
96,97.0,98%,The Lady Vanishes (1938),43
97,98.0,100%,The 400 Blows (Les Quatre cents coups) (1959),60
98,99.0,98%,Toy Story 3 (2010),305
99,100.0,100%,Kind Hearts and Coronets (1949),46

In [9]:
best_tomatoes['Title'][0][0]

'B'

In [10]:
type(best_tomatoes)

pandas.core.frame.DataFrame

In [11]:
# 1001 filmes antes de morrer (2017)
films1001 = pd.read_html('https://en.wikipedia.org/wiki/1001_Movies_You_Must_See_Before_You_Die')

In [12]:
len(films1001)

5

In [13]:
films1001[1]

     Movies (2017 edition)                                             \
                      Year                    Title          Director
0                     1902   Le voyage dans la lune    Georges Méliès
1                     1903  The Great Train Robbery   Edwin S. Porter
2                     1915    The Birth of a Nation    D. W. Griffith
3                     1915             Les vampires   Louis Feuillade
4                     1916              Intolerance    D. W. Griffith
...                    ...                      ...               ...
997                   2016    Manchester by the Sea  Kenneth Lonergan
998                   2016                     13th      Ava DuVernay
999                   2016          I, Daniel Blake         Ken Loach
1000                  2016                  Arrival  Denis Villeneuve
1001                  2016                Moonlight     Barry Jenkins


             Country
0             France
1      United States
2      United States
3             France
4      United States
...              ...
997    United States
998    United States
999   United Kingdom
1000   United States
1001   United States

[1002 rows x 4 columns]

In [14]:
best_1001_films = films1001[1]

In [15]:
type(best_1001_films)

pandas.core.frame.DataFrame

In [16]:
best_1001_films['Movies (2017 edition)']['Title']

0        Le voyage dans la lune
1       The Great Train Robbery
2         The Birth of a Nation
3                  Les vampires
4                   Intolerance
                 ...
997       Manchester by the Sea
998                        13th
999             I, Daniel Blake
1000                    Arrival
1001                  Moonlight
Name: Title, Length: 1002, dtype: object

In [17]:
best_tomatoes['Title']

0                              Black Panther (2018)
1                          Avengers: Endgame (2019)
2                                         Us (2019)
3                                Toy Story 4 (2019)
4              Mission: Impossible - Fallout (2018)
                          ...
95           12 Angry Men (Twelve Angry Men) (1957)
96                         The Lady Vanishes (1938)
97    The 400 Blows (Les Quatre cents coups) (1959)
98                               Toy Story 3 (2010)
99                  Kind Hearts and Coronets (1949)
Name: Title, Length: 100, dtype: object

In [31]:
from difflib import SequenceMatcher
def similar(a, b):
    return SequenceMatcher(None, a, b).ratio()

In [33]:
similar(best_tomatoes['Title'][0], 'Black Panther')

0.7878787878787878

In [62]:
for u in range(len(best_tomatoes['Title'])):
    for i in range(len(best_1001_films['Movies (2017 edition)']['Title'])):
        if similar(best_tomatoes['Title'][u], best_1001_films['Movies (2017 edition)']['Title'][i]) > 0.78:
            print(best_tomatoes['Title'][u], '|',  best_1001_films['Movies (2017 edition)']['Title'][i])

The Wizard of Oz (1939) | The Wizard of Oz
Mad Max: Fury Road (2015) | Mad Max: Fury Road
A Star Is Born (2018) | A Star Is Born
It Happened One Night (1934) | It Happened One Night
The Third Man (1949) | The Third Man
All About Eve (1950) | All About Eve
E.T. The Extra-Terrestrial (1982) | E.T. the Extra-Terrestrial
The Godfather (1972) | The Godfather
Snow White and the Seven Dwarfs (1937) | Snow White and the Seven Dwarfs
The Bride of Frankenstein (1935) | Bride of Frankenstein
Singin' in the Rain (1952) | Singin' in the Rain
The Adventures of Robin Hood (1938) | The Adventures of Robin Hood
Manchester by the Sea (2016) | Manchester by the Sea
The Maltese Falcon (1941) | The Maltese Falcon
A Hard Day's Night (1964) | A Hard Day's Night
12 Years a Slave (2013) | 12 Years a Slave
The Philadelphia Story (1940) | The Philadelphia Story
The Night of the Hunter (1955) | The Night of the Hunter
North by Northwest (1959) | North by Northwest
Touch of Evil (1958) | Touch of Evil
Hell or High Water (2016) | Hell or High Water
A Streetcar Named Desire (1951) | A Streetcar Named Desire
Lawrence of Arabia (1962) | Lawrence of Arabia
The Lady Vanishes (1938) | The Lady Vanishes
Kind Hearts and Coronets (1949) | Kind Hearts and Coronets